<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>922017334460-eolqd0bfo5nkv7rq2bri2vip58f2jhaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922017334460-eolqd0bfo5nkv7rq2bri2vip58f2jhaf</string>
	<key>API_KEY</key>
	<string>AIzaSyDKOQUOlU7-QJZ7W0dL5oneSFVi7AJ8PYo</string>
	<key>GCM_SENDER_ID</key>
	<string>922017334460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jimi.Coinr</string>
	<key>PROJECT_ID</key>
	<string>mijn-crypto-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mijn-crypto-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:922017334460:ios:a702d205104b70ec</string>
	<key>DATABASE_URL</key>
	<string>https://mijn-crypto-app.firebaseio.com</string>
</dict>
</plist>
